@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --color-primary-1: #8bc34a;
    --color-primary-2: #8bc34aa6;

    --color-neutral-1: #f8fafc;
    --color-neutral-2: #24232b;
    --color-neutral-3: #13121a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-neutral-3);
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#password_img {
  width: 100px;
}

#title {
  color: #00AEEF; /* azul do cadeado */
  font-weight: 500;
  margin-bottom: 10px;
}

#password_container {
  width: 100%;
  max-width: 400px;
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-neutral-2);
  color: var(--color-neutral-1);
  border: 8px;
  padding: 8px 18px;
}
#password_container.show {
    display: flex;
}

#password {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#copy {
  background-color: transparent;
  border: none;
  color: #d6d6d6; /* cinza claro */
  height: 40px;
  width: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: color .3s, transform .2s;
}

#copy:hover {
  color: #00AEEF; /* azul do cadeado */
  transform: scale(1.15);
}

#password_items {
  width:400px;
  background-color: var(--color-neutral-2);
  color: var(--color-neutral-1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 18px;
}

.item {
  display: flex;
  gap: 14px;
}

#size {
  width: 50px;
  text-align: center;
  border-radius: 4px;
  border: none;
}

#size::-webkit-timer-spin-button,
#size::-webkit-outer-spin-button {
  opacity: 1;
}

#size:focus {
  outline: 1px solid var(--color-primary-1);
}

#generate {
  background: #00AEEF; /* azul do cadeado */
  border: none;
  margin-top: 12px;
  padding: 12px 0;
  border-radius: 8px;
  color: white;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 174, 239, 0.4);
}

#generate:hover {
  background: #0095cc;
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 174, 239, 0.5);
}



